<h1 style="margin-left: 1rem;">Stupid Coaching</h1>
<div style="border-left: 6px solid rgb(195, 195, 195); padding-bottom: 0.2rem; margin-left: 1rem;">
  <h3 style="padding-left: 1rem;"><%= @question %> </h3>
  <h3 style="padding-left: 1rem; font-style: oblique;">--You </h3>
</div>
<br>
<br>
<div style="background-color: antiquewhite; border-left: 6px solid rgb(195, 195, 195); padding-bottom: 0.2rem; margin-left: 1rem;">
  <h3 style="padding-left: 1rem;"><%= @answer %> </h3>
  <h3 style="padding-left: 1rem; font-style: oblique;">--Your coach </h3>
</div>
